.jokesCard{
    width: 50%;
    background-color: #f06292;
    margin-bottom: 20px;
    height: auto;
    margin-left: 100px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.pointSection{
    width: 180px;
    display: flex;
    justify-content: space-between;
    justify-content: center;
    gap: 20px;

}

.pointSection button{
    border: none;
    background-color: transparent;
    color: #c5cfd5;
    font-size: 20px;
    cursor: pointer;
}

.pointSection span{
    background-color: #fff;
    width: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    font-weight: bold;
    color: #c5cfd5;
}

.icon{
    width: 50px;
    margin-right: 10px;
}

.icon img{
    width: 100%;
    background-color: transparent;

}

.jokesCard div:nth-child(2){
    margin-left: 2px;
    flex: 3;
    color: #c5cfd5;
}

.bad{
    border: 3px solid red;
}

.normal{
    border: 3px solid yellow;
}

.good{
    border: 3px solid orange;
}

.veryGood{
    border: 3px solid rgb(44, 158, 44);
}