.startJokesPage{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(140deg, #b3e5fc 50%, #f06292 50%);
}

.startJokesPage button{
    width: 200px;
    height: 50px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    color: #fff;
    background-color: rgb(233, 61, 61);
    font-size: 30px;
}